.inter-logo{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
      font-style: normal;
}

.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}
nav ul li{
    list-style: none;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: blue;
}
.sing {
    background-color: blue;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    margin:0px;
    border: none;
}
.stay-btn{
    background-color: blue;
    color: white;
    border: none;
    padding:5px 10px ;
    border-radius: 5px;
}
.banner{
  text-align: center;
  padding: 100px 20px;
  margin: 20px;
}
.hero{
    background-image: url("../Assets/Hero-bg.png");
}
.live-btn{

    background-color: blue;
    color: white;
    border: none;
    padding:5px 10px ;
    border-radius: 5px;
}
.Action{
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 200px 328px;
    gap: 10px;
}
.bold{
    font-size: 80px;
}
.cool{
    font-weight: 900;
}
.imgmini{
    border-radius: 5px;
}
p{
    color: #555
}
.stats-container{
    background-color: #f0f4ff;
    padding: 40px 20px;
    text-align: center;
    border-radius: 16px;
    max-width: 1140px;
    margin: 40px auto;
    font-family: Arial,  sans-serif;
    background-color: #eaf0ff;
}

.stats-container h2{
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: bold;
}
.stat{
    color: #007bff;
    font-size: 100px;
    font-weight: bold;
    gap: 5
}
.lable{
    font-size: 28px;
    color: #555;
    margin-top: 8px;
    gap: 
}
.stats{
    display: flex;justify-content: center;
    gap: 50px;
}


.users-containar{
    display: flex;
    gap: 24px;
    text-align: center;
}
.designers{
    text-align: center;

    
}
.users{
    text-align: center;

}

.section title{
    text-align: center;
}

